@import "tailwindcss";

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-jetbrains-mono), monospace, sans-serif;
  background-color: white;
}

@theme {
  --font-jetbrains-mono: "JetBrains Mono", "Arial", "monospace";
  
  --bckg-gray: #2E3036;
  --extra-light-purple: #D4DCFF;
  --light-purple: #8C47E0;
  --dark-purple: #371B59;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
}


