@import "tailwindcss";

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-jetbrains-mono), monospace, sans-serif;
  background-color: white;
}

@theme {
  --font-jetbrains-mono: "JetBrains Mono", "Arial", "monospace";

  --bckg-gray: #2E3036;
  --extra-light-purple: #D4DCFF;
  --light-purple: #8C47E0;
  --dark-purple: #371B59;

  --text-shadow-name: 0px 0px 20px rgb(128, 63, 207);
  --text-shadow-light: 0px 0px 10px rgb(212, 220, 255);

  --shadow-icons: 0 0 12px rgb(74, 37, 120);
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}

